:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;

  list-style: none;
  text-decoration: none;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg);
}
section {
  padding: 2rem 7%;
}
